<a class="button btn btn-secondary"
   [routerLink]="['/gallery', getDirectoryPath()]"
   [queryParams]="queryService.getParams()"
   style="display: inline-block;">


  <div class="photo-container rounded overflow-hidden"
       [style.width.px]="size"
       [style.height.px]="size">
    <div class="photo"
         *ngIf="thumbnail && thumbnail.Available"
         [style.background-image]="getSanitizedThUrl()"></div>

    <app-icon *ngIf="!thumbnail || !thumbnail.Available"  class="no-image"></app-icon>
  </div>
  <!--Info box -->
  <div class="info rounded-bottom">
    <div class="directory-name">{{replaceUnderscore(directory.name)}}</div>
    <div *ngIf='directory.directoryCount > 0 || directory.mediaCount > 0 || directory.videoCount > 0' class='small'>
      <hr style='padding: 0!important; margin: 0!important;'/>
      <span *ngIf='directory.directoryCount > 0'>{{directory.directoryCount}} album<span *ngIf='directory.directoryCount > 1'>s</span></span>
      <span *ngIf='directory.directoryCount > 0 && directory.mediaCount > 0'>, </span>
      <span *ngIf='directory.mediaCount > 0'>{{directory.mediaCount - directory.videoCount}} picture<span *ngIf='directory.mediaCount > 1'>s</span></span>
      <span *ngIf='(directory.directoryCount > 0 || directory.mediaCount > 0) && directory.videoCount > 0'>, </span>
      <span *ngIf='directory.videoCount > 0'>{{directory.videoCount}} video<span *ngIf='directory.videoCount > 1'>s</span></span>
    </div>
  </div>
</a>

